/* REPONSIVE */
/* Media queries - Responsive timeline on screens LESS than 992px wide */
@media screen and (max-width: 992px) {

    /* style */
    .flex--row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .flex--column{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* For NAVBAR */ 
    #nav-btn--toggle {
        display: block;
    }
    #nav{
        top: 100px;
        right: 10px;
        width: 190px;
        background-color: rgba(113, 173, 219, 0.248);
        border-radius: 20px;
        overflow: hidden;
        backdrop-filter: blur(10px);
    }
    #nav ul {
        flex-direction: column;
        padding: 20px;
        display: none;
    }
    #nav ul li,#nav ul li a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* For NAVBAR - PINK */ 
    #nav-btn--toggle-pink {
        display: block;
    }
    #nav-pink{
        top: 100px;
        right: 10px;
        width: 190px;
        background-color: rgba(219, 113, 214, 0.248);
        border-radius: 20px;
        overflow: hidden;
        backdrop-filter: blur(10px);
        display: none;
    }
    #nav-pink ul {
        flex-direction: column;
        padding: 20px;
        display: none;
    }
    #nav-pink ul li,#nav-pink ul li a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* For WELCOME SECTION */ 
    header{
        max-height: 60px;
    }
    #logo{
        padding: 0px 10px 0px 10px;
    }
    #theme{
        padding: 5px;
    }
    #nav-btn--toggle,
    #nav-btn--toggle-pink {
        font-size: 20px;
    }
    #welcome-content{
        width: 600px;
    }

    /* For BTN*/ 
    .button{
        padding: 10px;
        margin-left: 30px;
    }
    .button--slide-left{
        padding: 10px;        
        padding-right: 30px;
        left: 103px;
        top: 30px;
    }

    /* For IMG */ 
    .img-section {
        width: 300px;
        height: 300px;
        margin-right: 0px;
    }


    /* For TIMELINE EDUCATION SECTION */

    /* Place the timelime to the left */
    #experiencesEducation .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    #experiencesEducation .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    #experiencesEducation .container::before {
        left: 60px;
        border: medium solid #146af6;
        border-width: 10px 10px 10px 0;
        border-color: transparent #146af6 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    #experiencesEducation .left::after,
    #experiencesEducation .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    #experiencesEducation .right {
        left: 0%;
    }

      /* For TIMELINE EDUCATION SECTION - PINK  */

    /* Place the timelime to the left */
    #experiencesEducation .timeline-pink::after {
        left: 31px;
    }

    /* Full-width containers */
    #experiencesEducation .container-pink {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    #experiencesEducation .container-pink::before {
        left: 60px;
        border: medium solid #D373C6;
        border-width: 10px 10px 10px 0;
        border-color: transparent #D373C6 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    #experiencesEducation .left::after,
    #experiencesEducation .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    #experiencesEducation .right {
        left: 0%;
    }

     /* For CONTACT SECTION */ 

     #contact-text-container{
        align-items: start;
    } 

    #contact-text{
        display: flex;
        flex-direction: row;
    }
}  


    
   

