/* import google-font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Sigmar&family=Work+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    /* To remove white line around page */
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* position */
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

/* background */
.bg-color-white {
    background-color: #fff;
}

.bg-color-black {
    background-color: #000;
}

.bg-color-gray-700 {
    background-color: rgb(55 65 81);
}

.bg-color-146af6 {
    background-color: #146af6;
}

.bg-color-faebd749 {
    background-color: #faebd7a7;
}

/* flex direction */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-item-center {
    align-items: center;
}

.flex-item-start {
    align-items: start;
}

/* text */
a {
    text-decoration: none;
}

.text-typing {
    display: inline-block;
    white-space: nowrap;
    /* keep text in one line */
    overflow: hidden;
    /* hide text behind the cursor */
    animation: textTyping 3s steps(15) infinite;
}
/* display */
.display-flex{
    display:flex !important;
}
.display-block{
    display:block !important;
}
.display-none{
    display:none !important;
}
@keyframes textTyping {

    0%,
    90%,
    100% {
        width: 0;
    }

    30%,
    60% {
        width: 325px;
    }
}

.text-title {
    text-transform: uppercase;
    font-weight: 1000px;
    color: #146af6;
    font-size: 50px;
    font-family: 'Sigmar', cursive;
}

.text-align-justify {
    text-align: justify;
}

.text-font-sigma {
    font-family: 'Sigmar', cursive;
}

.text-font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

.text-font-50px-px {
    font-size: 50px;
}

.text-font-35px-px {
    font-size: 35px;
}

.text-font-20px-px {
    font-size: 20px;
}

.text-font-25px-px {
    font-size: 25px;
}

.text-font-15px-px {
    font-size: 15px;
}

.text-font-35px {
    font-size: 2vw;
}

.text-font-25px {
    font-size: 1.5vw;
}

.text-font-20px {
    font-size: 1vw;
}

.text-font-17px {
    font-size: 0.75vw;
}

.text-color-white {
    color: white;
}

.text-color-black {
    color: #000;
}

.text-color-orange {
    color: orange;
}

.text-color-146af6 {
    color: #146af6;
}

.text-color-2e14f6 {
    color: #2e14f6;
}

.text-uppercase-bolder {
    font-weight: bolder;
    text-transform: uppercase;
}

.text-lowercase-bolder {
    font-weight: bolder;
    text-transform: lowercase;
}


/* padding */
section {
    padding: 100px;
    overflow: hidden;
}

.wrapper--left {
    padding-left: 150px;
}

.wrapper--right {
    padding-right: 150px;
}

.padding-right-10px {
    padding-right: 10px;
}


/* cursor */
.cursor-pointer {
    cursor: pointer;
}

/* button */
button{
    background-color: transparent;
    border: none;
}

.button-wrap {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.button {
    border-radius: 5px;
    color: white;
    padding: 10px 50px;
    border: 2px #146af6 solid;
    background-color: #146af6;
}

.button--slide-left {
    position: relative;
    color: black;
    border: 2px #146af6 solid;
    border-radius: 5px;
    padding: 10px 60px;
    transform: translate(-50%, -50%);
    transition: all .35s;
    left: 130px;
    top: 50px;
}

.button--slide-left:hover {
    color: #fff;
}

.button--slide-left span {
    z-index: 2;
    position: relative;
}

.button--slide-left:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #146af6;
    transition: all .35s;
}

.button--slide-left:hover:after {
    width: 100%;
}

/* img */
.img-rem-welcome {
    width: 40vw;
    height: 40vh;
    margin-left: 50px;
}

.img-rem {
    width: 500px;
    height: 500px;
}

/* Custom */
header {
    position: fixed;
    z-index: 20;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 85px;
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.8);
}

.logo {
    left: 50px;
    top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 20px 10px 0px 10px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.navbar {
    right: 50px;
    position: absolute;
    flex-direction: row;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    padding: 10px;
}

.navbar ul li a {
    padding: 10px;
    transition: 0.3s;
}

.navbar ul li a:hover,
.navbar ul li a.nav--active {
    color: white;
    border-radius: 10px;
    background-color: #3B82F6;
}

.navbar ul li i {
    padding-left: 20px;
}

.navbar-btn-toggle{
    position: absolute;
    top: 10px;
    right: 0;
    color: #fff;
    font-size: 30px;
    background-color: #3B82F6;
    padding: 3px;
    padding-right: 10px;
    border-radius: 10px 0px 0px 10px ;
    display: none;
    cursor: pointer;
}



#welcome {
    height: 100vh;
    padding-top: 100px;
    background-size: cover;
    background-image: url(img/wallpaper-blue.png);
}
.welcome-text{
    width: 600px;
}

h3 {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.693);
    font-size: 15px;
}

.tag {
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;
    border-radius: 50px;
    background-color: #2e14f6;
    color: #fff;
}

.tag:hover {
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.tag i {
    margin-top: 20px;
    font-size: 50px;
}

.tag p {
    font-size: 20px;
    padding: 10px;
}

.bxl-html5 {
    color: orange;
}

.bxl-css3 {
    color: white
}

.bxl-javascript {
    color: yellow;
}

.flip-card {
    margin: 20px 30px;
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.flip-card-inner {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-front h1 {
    width: 100%;
    height: 30px;
    text-align: center;
}

.flip-card-back h1 {
    padding: 20px;
}

#experiencesEducation .text-title {
    top: 0;
    left: 30%;
}

/* The actual timeline (the vertical ruler) */
#experiencesEducation .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

/* The actual timeline (the vertical ruler) */
#experiencesEducation .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #146af6;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
#experiencesEducation .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
#experiencesEducation .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #146af6;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
}

#experiencesEducation .container:hover::after {
    background-color: #146af6;
    width: 27px;
    height: 27px;
}

/* Place the container to the left */
#experiencesEducation .left {
    left: 0;
}

/* Place the container to the right */
#experiencesEducation .right {
    left: 50%;
}

/* Fix the circle for containers on the right side */
#experiencesEducation .right::after {
    left: -16px;
}

/* The actual content */
#experiencesEducation .content {
    padding: 10px 10px;
    background-color: white;
    position: relative;
    border: 2px solid #146af6;
    border-radius: 5px;
}

#contact p {
    margin-left: -100px;
}

#contact span {
    color: #146af6;
}

.contact-content {
    margin-top: 50px;
}

#img__contact {
    border-radius: 50px;
    border-right: 15px solid #146af6;
    margin-right: 100px;
}

.contact-text {
    margin-top: 30px;
}

.contact-text i {
    margin-left: 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: gray;
}

footer i {
    color: red;
}

/* animation */

.fade {
    opacity: 0;
}

.fade.fade--active {
    opacity: 1;
}

.fade--active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.fade--active.fade-left {
    animation: fade-left 1s ease-in;
}

.fade--active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Media queries - Responsive timeline on screens more than 1024px wide */
@media screen and (min-width: 1024px) {
    .navbar{
        display: flex;
    }
}
/* Media queries - Responsive timeline on screens LESS than 1024px wide */

@media screen and (max-width: 1024px) {

    .flex-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .flex-column{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .text-title{
        font-size: 50px;
    }
    .text-font-35px-px{
        font-size: 25px;
    }
    /* For WELCOME SECTION */ 
    .welcome-text{
        width: 600px;
    }
    /* For BTN*/ 
    .button{
        padding: 10px;
    }
    .button--slide-left{
        padding: 10px;        
        padding-right: 30px;
        left: 93px;
        top: 30px;
    }
    /* For IMG */ 
    .img-rem-welcome {
        width: 500px;
        height: 500px;
    }

    .img-rem {
        width: 300px;
        height: 300px;
    }

    .wrapper--left {
        padding-left: 0px;
    }
    /* For CONTATC SECTION */ 

    #contact-text-container{
        align-items: start;
    } 

    #contact-text{
        display: flex;
        flex-direction: row;
    }
    /* For NAVBAR */ 
    .navbar ul {
        flex-direction: column;
        padding: 20px;
    }
    .navbar-btn-toggle {
        display: block;
        top: 25px;
    }
    .navbar{
        top: 100px;
        right: 10px;
        width: 190px;
        background-color: rgba(113, 173, 219, 0.248);
        border-radius: 20px;
        overflow: hidden;
        backdrop-filter: blur(10px);
        display: none;
    }
    .navbar ul li,.navbar ul li a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* For TIMELINE EDUCATION SECTION */

    /* Place the timelime to the left */
    #experiencesEducation .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    #experiencesEducation .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    #experiencesEducation .container::before {
        left: 60px;
        border: medium solid #146af6;
        border-width: 10px 10px 10px 0;
        border-color: transparent #146af6 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    #experiencesEducation .left::after,
    #experiencesEducation .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    #experiencesEducation .right {
        left: 0%;
    }
}



/* Media queries - Responsive timeline on screens LESS than 640px wide */

@media screen and (max-width: 640px) {
    /* For Header */
    header {
        height: 50px;
    }
    .flex-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .flex-column{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .text-title{
        font-size: 30px;
    } 
    .text-font-25px-px{
        font-size: 15px;
    }
    .text-font-35px-px{
        font-size: 20px;
    }
    .text-font-20px-px{
        font-size: 15px;
    }
    /* For WELCOME SECTION */ 
    .welcome-text{
        width: 300px;
    }
    /* For ABOUT ME SECTION */ 
    #aboutme-span{
        display: flex;
        flex-direction: column;
    }
    section{
        padding: 30px;
    }
    
    /* For BTN*/ 
    .button{
        padding: 10px;
    }
    .button--slide-left{
        padding: 10px;        
        padding-right: 30px;
        left: 93px;
        top: 30px;
    }
    /* For IMG */ 
    .img-rem-welcome {
        width: 500px;
        height: 500px;
    }

    .img-rem {
        width: 300px;
        height: 300px;
    }
   

    .wrapper--left {
        padding-left: 0px;
    }
    /* For CONTATC SECTION */ 

    #contact-text-container{
        align-items: start;
    } 

    #contact-text{
        display: flex;
        flex-direction: row;
    }
    #img__contact {
        width: 300px;
        height: 300px;
        margin-right: 0px;
    }
    /* For NAVBAR */ 
    .navbar ul {
        flex-direction: column;
        padding: 20px;
    }
    .navbar-btn-toggle {
        display: block;
        top: 5px;
    }
    .navbar{
        top: 55px;
        right: 10px;
        width: 190px;
        background-color: rgba(113, 173, 219, 0.248);
        border-radius: 20px;
        overflow: hidden;
        backdrop-filter: blur(10px);
        display: none;
    }
    .navbar ul li,.navbar ul li a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* For TIMELINE EDUCATION SECTION */

    /* Place the timelime to the left */
    #experiencesEducation .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    #experiencesEducation .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 0px;
    }

    /* Make sure that all arrows are pointing leftwards */
    #experiencesEducation .container::before {
        left: 60px;
        border: medium solid #146af6;
        border-width: 10px 10px 10px 0;
        border-color: transparent #146af6 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    #experiencesEducation .left::after,
    #experiencesEducation .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    #experiencesEducation .right {
        left: 0%;
    }
}
